body{
	margin:0 auto 0 auto;
	min-width:1024px;
	max-width:1024px;
}
li{
	display:block
}
#left{
	background-color:white;
	width:259px;
	float:left;
	border:1px solid black
}
input{
	width:150px
}
#left_login_form{
	width:150px;
	margin:0 auto 0 auto;
}
#center{
	background-color:white;
	width:500px;
	float:left;
	border:1px solid black
}
#right{
	background-color:white;
	width:259px;
	float:left;
	border:1px solid black
}
.comment{
	margin: 5px 0 20px 0
}
.comment_content{
	border:1px solid black;
	width:300px;
	background-color:#EDEFF0;
}